* { box-sizing: border-box; }
body {background-color: rgb(128, 128, 128);
}

#wrapper {background-color: white;
        width: 70%;
        min-width: 400px;
        margin: auto;
        min-height: 90vh;
        box-shadow: 10px 10px 10px black;
        padding: 10px;
        }
        
.dots { width: 12px;
        height:12px;
        border-radius: 50%;
        background-color: rgb(48, 47, 47);
        margin: 4px;
        cursor: pointer;
    }
.dots:hover { background-color: darkblue;
}
.arrow { cursor: pointer;
        
    }
#photo {box-shadow: 10px 10px 10px black;
        border: 1px solid black;
        display: block;
        width:400px;
        max-width: 100%;
        height: auto;
        }
        
#top-row {display:flex;
        justify-content: center;
        align-items: center;
    }
#bottom-row {display:flex;
            justify-content: center;
            align-items: center;
        }
        
figcaption {display: flex;
            justify-content: center;
            color: rgb(48, 47, 47);
            } 
#figcaptions {
    height: 30px;
}
            
h1 { font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(48, 47, 47);
    text-align: center;
}

footer {color: rgb(48, 47, 47);
        text-align: center;
        font-size: 15px;
}
.notActive {display: none;}
.dots.notActive {display: block;}
.dots.active {background-color:darkblue;}